
.u-container {
	max-width: 1244px;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	display: flex;
  justify-content: space-around;
}

.u-m-50 {
	width: 50%;
}

.u-m-30 {
	width: 30%;
}

.u-m-25 {
	width: 25%;
}

.u-colum-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.u-txt-center {
	text-align: center;
}

.u-btn-icon--circle {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	span {
		&:before {
			height: 1.5em;
			width: 1.5em;
			margin-bottom: 0.2em;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 3em;
			background-color: #FFF83A;
			border-radius: 100%;
		}
	}

}

