$primary: #FFF83A;
$primary--enfasis: #F2EA1D;
$secondary: #CC152A;
$secondary--enfasis: #9C1323;
$terciary: #45AEE0;
$body-color: #FAFDFF;

$text-color: #333333;
$text-color--alt: #fdfdfd;
$link-color: #2c9aff;
